@import "tailwindcss";


@theme{

  --color-primary:#0034D1;

    --color-surface:#F3F3F3;
    

}

.active hr{
  display: block;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
width: 4px;}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}